##
# 301 Moved Permanently
# 307 Temporary Redirect
# 302 Found (HTTP/1.1)
# 302 Moved Temporarily (HTTP/1.0)
# 303 See Other

# See at Test.pm
map $scheme $port_gb {
	https	"9509";
	default	"9510";
}

server {
	listen gb.onpoz.ru:80;
	server_name gb.onpoz.ru;
	root	/var/www/gb;
	charset utf-8;

	proxy_set_header	X-Real-IP $remote_addr;
	proxy_set_header	Host $host;
	proxy_set_header	Server-addr $server_addr;
	proxy_set_header	X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_http_version	1.1;
	proxy_set_header	Upgrade $http_upgrade;
	proxy_set_header	Connection upgrade;
	proxy_set_header	WebSocket-Protocol sample;
	proxy_set_header	Origin $host;
	proxy_connect_timeout 300;
	proxy_send_timeout 300;
	proxy_read_timeout 300;
	send_timeout 300;
	proxy_cache			off;
	client_max_body_size	1m;

	access_log	/var/www/gb/log/nginx.access.log simple;
	error_log	/var/www/gb/log/nginx.error.log error;
	#  warn, error crit, alert, emerg

	#### Antispam filters
	location ~* ^/wp\-|php$ {
		proxy_pass			https://www.fuq.com:443;
	}

	location / {
		proxy_pass			$scheme://127.0.0.1:$port_gb;
	}

	location ~* \.(svg|jpe?g|gif|png|ico|css|js|ttf|otf|woff?|txt|json|rss|xml|html|map|sass)$ {
		root	/var/www/gb/htdocs;
		try_files $uri =404;
	}


	# deny access to .htaccess files, if Apache's document root
	# concurs with nginx's one
	#
	location ~ /\.ht {
		deny all;
	}
}
